[submodule "baselines/HuPR"]
	path = baselines/HuPR
	url = https://github.com/luckyyf0517/HuPR.git
[submodule "baselines/mmMesh"]
	path = baselines/mmMesh
	url = https://github.com/luckyyf0517/mmMesh.git
[submodule "baselines/mmDiff"]
	path = baselines/mmDiff
	url = https://github.com/luckyyf0517/mmDiff.git
[submodule "anotation_tool"]
	path = anotation_tool
	url = https://github.com/luckyyf0517/mm_anotation_tool.git
