[submodule "baselines/HuPR"]
	path = baselines/HuPR
	url = git@github.com:luckyyf0517/HuPR.git
[submodule "baselines/mmMesh"]
	path = baselines/mmMesh
	url = git@github.com:luckyyf0517/mmMesh.git
[submodule "baselines/mmDiff"]
	path = baselines/mmDiff
	url = git@github.com:luckyyf0517/mmDiff.git
